<html>
    <p>Click the button to get your coordinates.</p>


    <button onclick="getLocation()">Try It</button>

    <p id="demo"></p>
    
    <script>
    var x = document.getElementById("demo");
    
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else { 
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }
    
    function showPosition(position) {
        x.innerHTML = position.coords.latitude + "," + position.coords.longitude;
        return $.ajax({
          type: "POST",
          contentType: "application/json;charset=utf-8",
          url: "/poslistener",
          traditional: "true",
          data: JSON.stringify({'latitude': position.coords.latitude, 'longitude': position.coords.longitude}),
          dataType: "json"
          });
    }
    </script>
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
</html>