<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Where's My Friends</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='overlay.css') }}" rel="stylesheet">
</head>

<body class="text-center" style="background-image: linear-gradient(0.35turn, #448cff, #9b44ff);">
  <form class="form-signin">
    <img class="mb-4" src="{{ url_for('static', filename='logo.png') }}" alt="" width="72" height="72" style="display: inline-block">
    <h1 style="font-family: 'Raleway', sans-serif; font-size: 40px; display: inline-block" size="72" class="h3 mb-3 font-weight-normal">Where's
      My Friends</h1>
    <!-- Image and text -->
    <div class="container">
            <img src="static/map1.png" alt="hello" style="width:80%;height:100%">
            {% for p in users %}
            <div style="
            position: absolute;
            top: {{ p.get_map_pixels()[0] }}px;
            left: {{ p.get_map_pixels()[1] }}px;
            transform: translate(-50%, -50%);
            ">Mathews
            <img class="mb-4" src="{{ url_for('static', filename=p.imagelocation) }}" alt="" width="72" height="72"></div>
            {% endfor %}
    </div>

  </form>
</body>

<script>
  function myMap() {
    var mapProp = {
      //33.9173° S, 151.2313° E
      center: new google.maps.LatLng(-33.9173, 151.2313),
      zoom: 17,
      rotateControl: true,
      mapTypeId: 'roadmap',
      disableDefaultUI: true,
      styles: [
        {
          featureType: "all",
          elementType: "labels",
          stylers: [
            { visibility: "off" }
          ]
        },
        { elementType: 'geometry', stylers: [{ color: '#242f3e' }] },
        { elementType: 'labels.text.stroke', stylers: [{ color: '#242f3e' }] },
        { elementType: 'labels.text.fill', stylers: [{ color: '#746855' }] },
        {
          featureType: 'administrative.locality',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#d59563' }]
        },
        {
          featureType: 'poi',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#d59563' }]
        },
        {
          featureType: 'poi.park',
          elementType: 'geometry',
          stylers: [{ color: '#263c3f' }]
        },
        {
          featureType: 'poi.park',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#6b9a76' }]
        },
        {
          featureType: 'road',
          elementType: 'geometry',
          stylers: [{ color: '#38414e' }]
        },
        {
          featureType: 'road',
          elementType: 'geometry.stroke',
          stylers: [{ color: '#212a37' }]
        },
        {
          featureType: 'road',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#9ca5b3' }]
        },
        {
          featureType: 'road.highway',
          elementType: 'geometry',
          stylers: [{ color: '#746855' }]
        },
        {
          featureType: 'road.highway',
          elementType: 'geometry.stroke',
          stylers: [{ color: '#1f2835' }]
        },
        {
          featureType: 'road.highway',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#f3d19c' }]
        },
        {
          featureType: 'transit',
          elementType: 'geometry',
          stylers: [{ color: '#2f3948' }]
        },
        {
          featureType: 'transit.station',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#d59563' }]
        },
        {
          featureType: 'water',
          elementType: 'geometry',
          stylers: [{ color: '#17263c' }]
        },
        {
          featureType: 'water',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#515c6d' }]
        },
        {
          featureType: 'water',
          elementType: 'labels.text.stroke',
          stylers: [{ color: '#17263c' }]
        }
      ]
    };
    var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMoE9vCcLmQZn9Td1KDYUzpEKE1u_zYAg&callback=myMap"></script>

</html>